.welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 100px;
    width: 800px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    animation: slideUp 0.8s ease-out;
}

.welcome-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
    width: 450px;
    margin-left: -250px;
    margin-top: 50px;
}

.welcome-top .welcome-icon {
    width: 40px;
    height: 40px;
}

.welcome-top h2 {
    font-size: 2.5rem;
}

.welcome-top h1 {
    font-size: 3rem;
}

.welcome-top p {
    font-size: 1.5rem;
}

.welcome-bottom {
    margin-top: 170px;
    margin-right: -550px;
}

.next-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 110px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(19, 16, 16, 0.2);
    color: black;
    border: none;
    border-radius: 10px;
    padding: 2px;
}

.next-btn:hover {
    background: black;
    color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px) scale(1.05);
}

.navi-icons {
    display: flex;
    flex-direction: row;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1300px) {
    .welcome {
        margin-top: 100px;
        width: 800px;
        height: 400px;
    }

    .welcome-top {
        gap: 4px;
        width: 450px;
        margin-left: -250px;
        margin-top: 50px;
    }

    .welcome-top .welcome-icon {
        width: 35px;
        height: 35px;
    }

    .welcome-top h2 {
        font-size: 2.3rem;
    }

    .welcome-top h1 {
        font-size: 2.8rem;
    }

    .welcome-top p {
        font-size: 1.3rem;
    }

    .welcome-bottom {
        margin-top: 80px;
    }
}

@media (max-width: 866px) {
    .welcome {
        width: 500px;
    }

    .welcome-top {
        gap: 4px;
        width: 450px;
        margin-left: -10px;
        margin-top: 50px;
    }

    .welcome-bottom {
        margin-top: 93px;
        margin-right: -250px;
    }
}

@media (max-width: 580px) {
    .welcome {
        margin-top: 30px;
        width: 450px;
        height: 90vh;
    }

    .welcome-top {
        gap: 6px;
        margin-left: 50px;
        margin-top: 50px;
    }

   .welcome-bottom {
        margin-top: 233px;
        margin-right: -250px;
    }
}

@media (max-width: 477px) {
    .welcome {
        margin-top: 20px;
        width: 300px;
        height: 100vh;
    }

    .welcome-top {
        gap: 8px;
        width: 250px;
        margin-left: 1px;
        margin-top: 50px;
    }

    .welcome-bottom {
        margin-top: 215px;
        margin-right: -130px;
    }
}